<h1>All Movies:</h1>
<h3>Movie with most comments: <strong><%= @most_popular.title %></strong></h3><br><br>
<%= link_to 'Back', user_movies_path(@user) %>

<ol>
  <% @movies.order('title ASC').each do |movie| %>
    <li>
      <%= link_to movie.title, movie_path(movie) %> 
    </li>
  <% end %>
</ol>

