<h1>All Movies:</h1>

<ol>
  <% @movies.order_alpha.each do |movie| %>
    <li>
      <%= link_to movie.title, movie_path(movie) %> 
      <%= link_to 'See comments', movie_comments_path(movie) %>
    </li>
  <% end %>
</ol>

