<h2><%= @user.name %></h2>

<div>
  <h3>Comments:</h3>
  <ul>
  <% @movie.comments.each do |comment|%>
    <li>
      <%= comment.user.name%> says:
      <strong><%= comment.text %></strong>
    </li>

  <% end %>
  </ul>

  <%= link_to 'All Users', users_path %>
</div>