<% if session[:user_id] %>
<h1><%= @user.name %></h1>
<h2>Email: <%= @user.email %></h2>
<% else %>
    <%= link_to("Log in with Google", '/auth/google_oauth2') %>
<% end %>

<div>
  <div style='width: 600px;margin:auto'>
   <img  style='width: 600px' src="https://live.staticflickr.com/944/28002002908_bc4a58120c_b.jpg" > 
  </div>
  <h2 align="center">Movie Library</h2>
</div>



