.movie {
  width: 50%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.error {
  color: red;
}

body {
  background-color: #E6E6FA;
}

/* .branding {
  clear: both;
} */

footer.branding {
  border-top: 2px solid #ccc;
  margin-top: 20px;
  padding-top: 20px;
}